html, body, ul, li {
    padding:0;
    margin:0;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background:rgba(245, 34, 92, 1);
    display:flex;
    flex:1 2 1;
    justify-content: space-between;
    align-items: center;
}

img.logo {
    width:150px;
}

header form {
    background:#F97A9D;
    border-radius: 30px;
}

header form input {
    background:url('../assets/loupe.svg') no-repeat;
    background-position: right center;
    padding:20px 60px;
    border-radius: 25px;
    font-size: 25px;
}

.index input::placeholder {
    color:white;
}
section.right-side {
    display:flex;
    justify-content: space-evenly;
}

section.right-side div {
    padding:30px;
}

section.right-side img {
    width:70px;
}

nav {
    background:#DF7592;
}

nav ul {
    display:flex;
    justify-content: space-evenly;
    padding:5px;
}

nav ul li{
    display:inline;
    border:white 1px solid;
    border-radius: 10px;
}

nav ul li a {
    padding:20px;
    display:block;
    color:white;
    font-size: 18px;
    font-weight:700;
    text-transform: uppercase;
    text-decoration: none;
}

main {
    background:rgba(128,128,128,0.2);
    padding:20px 10px;
    display:grid;
    grid-template-columns: 75% 15%;
    column-gap: 60px;
}

main section h1, main aside h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
}

div.big-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 50px;
    row-gap: 50px;
    text-align: center;
    text-transform: uppercase;
}

.index article {
    border:solid black 3px;
    border-radius: 15px;
}

.index img {
    border-radius: 13px;
}

.index article a {
    display:block;
    border-top:solid black 1px;
    border-radius:15px;
    padding:25px 0px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color:black;
}

.index a.none {
    border: none;
}
.index article a.underline {
    font-size: 17px;
    text-decoration: underline;
}
 
.index article a.no-border {
    border-top: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: lowercase;
    text-decoration: none;
}

.index aside {
    border-radius: 10px;
    display:grid;
    row-gap: 20px;
    background: whitesmoke;
    padding:0 20px 10px 20px;
}
.index aside .thumbnail {
    text-align: center;
    padding:10px;
}

.index .white-background {
    background: white;
}

.index aside .thumbnail-small img {
    height: 150px;
}

.index .price {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

footer.mobile {
    display:none;
}

footer {
    background:rgba(245, 34, 92, 1);
    display:flex;
    justify-content: space-between;
}

footer h2, footer p {
    text-transform: uppercase;
    text-decoration: underline;
}

footer .flex {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
footer div.contact {
    display:flex;
    justify-content: space-around;
}

footer img.macaron {
    height:150px;
}
footer img:not(.macaron) {
    height:25px;
}

footer .copyright {
    background: #16F5B2;
    display:flex;
    align-items: center;
    padding:10px;
}

/* PAGE ADMINISTRATEUR */

.admin-title {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}

.admin main {
    display:block;
    padding:50px;
    padding-top: 25px;
}

.grid {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 57px;
    row-gap: 150px;
    padding-top: 50px;
}


.admin div.wrapper {
    background: rgba(255, 255, 0, 0.4);
    text-align: center;
}

.admin div.wrapper a {
    display:block;
    border: 3px solid rgba(245, 34, 92, 0.6);
    border-radius: 15px;
    padding : 30px;
    text-transform: uppercase;
    color:black;
    font-size: 18px;
    font-weight: 700;
}

/* PAGE ACCOUNT */

.account h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.account div.account-wrapper {
    display:grid;
    grid-template-columns: 15% 75%;
}


.account aside {
    border:solid 3px black;
    display:flex;
    flex-direction: column;
    padding: 0px;
    row-gap: 0px;
}

.account aside div {
    border-bottom:1px solid black;
}

.account aside div:last-child {
    border:none;
}

.account aside div a {
    text-transform: uppercase;
    text-align: center;
    display:    block;
    color:  black;
    font-size: 18px;
    font-weight: 700;
    padding:    10px 30px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.account aside .red-background {
    background: #F97A9D;
}


/* PAGE FORMULAIRE */

main.form {
    max-width:1200px;
    background: rgba(245, 34, 92, 0.6);
    border: 3px #16F5B2 solid;
    border-radius: 30px;
    display:flex;
    flex-direction: column;
    margin: 80px auto;
    padding: 0px;
    text-align: center;
}

main.form h1 {
    color:#16F5B2;
    font-size: 20px;
    padding: 25px;
    border-bottom: #16F5B2 2px dashed;
    border-top: #16F5B2 2px dashed;
}

main.form h1:first-child {
    border-top:none;
}

main.form h1:last-child {
    border-bottom:none;
}

form.form-user{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin:0px 15px;
}

.border-right {
    border-right: 1px #16F5B2 solid;
}

form.form-user div.margin-left {
    margin-left: 15px;
}

form.form-user input {
    margin-bottom: 10px;
}

form.form-user hr.form-hr {
    margin-bottom: 20px;
}

button.submit-user {
    grid-column: 1 / 3;
    margin:0px;
    margin-top: 20px;
    padding: 20px 0px;
    border: white 2px solid;
    border-radius: 10px;
    background: #16F5B2;
    color:#F97A9D;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

button.add-button {
    align-self: end;
    margin-right: 20px;
    padding: 20px 10px;
    border: white 2px solid;
    border-radius: 10px;
    background: #16F5B2;
    color:#F97A9D;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.icons {
    height:50px;
    align-self:flex-start;
    margin-left: 20px;
}

div.adress-wrapper {
    display:flex;
    margin-left: 20px;
}

.truck {
    height:50px;
    margin-right: 20px;
}

div.adress-wrapper p {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

hr.form-hr {
    height:5px;
    width:80%;
    background: #16F5B2;
    border: #16F5B2 1px solid;
    border-radius: 30px;
}

@media (max-width: 1000px) {
    header section.right-side{
        display:none;
    }

    main.form {
        max-width: 600px;
    }

    footer.desktop {
        display:none;
    }
    footer.mobile {
        background:#DF7592;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        display: flex;
        padding: 20px;
    }

    footer.mobile section {
        text-align: center;
        text-transform: uppercase;
        font-size:20px;
        font-weight: 700;
    }

    footer.mobile img {
        height:80px;
    }
    
    footer.mobile a {
        color: #16F5B2;
        text-decoration:none;
    }

    footer.mobile p {
        text-decoration:none;
    }
}